[v-cloak] {
    display: none !important;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    user-select: none;
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, img {
    -webkit-touch-callout: none;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input {
    outline: none;
    background: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}